@import './variables.css';

* {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}


body {
  margin: 0;

  background: var(--color-background);

  color: var(--color-text);

  font-family: var(--font-body);
}


h1,
h2,
h3 {
  font-family: var(--font-display);
}


button,
input,
textarea,
select {
  font-family: inherit;
}


img {
  max-width: 100%;
  display: block;
}


a {
  color: inherit;
}